### Medical  Cost Prediction

In [5]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [6]:
data=pd.read_csv("../input/insurance/insurance.csv")

In [7]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [8]:
data.describe(include="all")

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,676,NaN,NaN,1064,364,NaN
mean,39.207025,NaN,30.663397,1.094918,NaN,NaN,13270.422265
std,14.049960,NaN,6.098187,1.205493,NaN,NaN,12110.011237
min,18.000000,NaN,15.960000,0.000000,NaN,NaN,1121.873900
25%,27.000000,NaN,26.296250,0.000000,NaN,NaN,4740.287150
50%,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.033000
75%,51.000000,NaN,34.693750,2.000000,NaN,NaN,16639.912515
max,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.428010

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

### Preprocesssing Step

In [10]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [11]:
data.nunique()

age           47
sex            2
bmi          548
children       6
smoker         2
region         4
charges     1337
dtype: int64

In [12]:
print("children : ",data['children'].unique())
print("sex : ",data['sex'].unique())
print("smoker : ",data['smoker'].unique())
print("region : ",data['region'].unique())

children :  [0 1 3 2 5 4]
sex :  ['female' 'male']
smoker :  ['yes' 'no']
region :  ['southwest' 'southeast' 'northwest' 'northeast']

In [13]:
data['sex'].replace({'female':0,'male':1},inplace=True)
data['smoker'].replace({'no':0,'yes':1},inplace=True)
data['region'].replace({'southwest': 0,'southeast':1, 'northwest':2, 'northeast':3},inplace=True)

In [14]:
data

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       0  16884.92400
1      18    1  33.770         1       0       1   1725.55230
2      28    1  33.000         3       0       1   4449.46200
3      33    1  22.705         0       0       2  21984.47061
4      32    1  28.880         0       0       2   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       2  10600.54830
1334   18    0  31.920         0       0       3   2205.98080
1335   18    0  36.850         0       0       1   1629.83350
1336   21    0  25.800         0       0       0   2007.94500
1337   61    0  29.070         0       1       2  29141.36030

[1338 rows x 7 columns]

In [15]:
X=data.drop('charges',axis =1)
y=data['charges']

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=56)

In [18]:
X_train

      age  sex     bmi  children  smoker  region
1224   41    1  23.940         1       0       3
1046   43    0  25.080         0       0       3
500    29    1  34.400         0       1       0
412    26    0  17.195         2       1       3
1115   55    1  32.670         1       0       1
...   ...  ...     ...       ...     ...     ...
1146   60    1  32.800         0       1       0
1259   52    0  23.180         0       0       3
1216   40    1  25.080         0       0       1
399    18    0  38.170         0       0       1
484    48    1  34.300         3       0       0

[936 rows x 6 columns]

In [19]:

from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor

In [20]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet,RidgeCV,LassoCV,ElasticNetCV

model_1=SVR()
model_1.fit(X_train,y_train)
model_1.score(X_test,y_test)*100

-5.291411373670618

In [21]:
def MLmodel(model,X_train,y_train,X_test,y_test):
    model_1=model()
    model_1.fit(X_train,y_train)
    print(model_1,'train score is :',model_1.score(X_train,y_train)*100)
    print(model_1,'test score is  :',model_1.score(X_test,y_test)*100)

In [ ]:
MLmodel(LinearRegression,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(Ridge,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(Lasso,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(ElasticNet,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(RidgeCV,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(LassoCV,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(SVR,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(DecisionTreeRegressor,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(ElasticNetCV,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(KNeighborsRegressor,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(RandomForestRegressor,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')

In [ ]:
MLmodel(LinearRegression,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(Ridge,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(Lasso,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(SVR,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(DecisionTreeRegressor,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(KNeighborsRegressor,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(RandomForestRegressor,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')

MLmodel(GradientBoostingRegressor,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')
MLmodel(AdaBoostRegressor,X_train,y_train,X_test,y_test)
print('---------------------------------------------------------------------')

In [24]:
model=MLmodel(LinearRegression,X_train,y_train,X_test,y_test)

LinearRegression() train score is : 76.13873375305722
LinearRegression() test score is  : 71.06309898866347

In [26]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet,RidgeCV,LassoCV,ElasticNetCV

model_1=LinearRegression()
model_1.fit(X_train,y_train)
model_1.score(X_test,y_test)*100

71.06309898866347

In [27]:
y_pred=model_1.predict(X_test)

In [40]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
print("MSE :", mean_squared_error(y_test,y_pred))
print("MAE :", mean_absolute_error(y_test,y_pred))
print("r2:", r2_score(y_test,y_pred)*100)

MSE : 35616238.28697312
MAE : 4227.86012671211
r2: 71.06309898866347