In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing  import OneHotEncoder,StandardScaler
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from joblib import dump, load
from sklearn.metrics import r2_score

In [2]:
def test_pipeline(x_test_path,model):

    #Read data
    X=pd.read_csv(x_test_path)
    # y_true=pd.read_csv(y_test_path)
    
    #seperate numerical and categorical columns
    numerical_cols=X.select_dtypes(exclude='object')
    categorical_cols=X.select_dtypes(include='object')
    
    # categorical -- encoding
    encoder_model=load('one_hot_encoder.pkl')
    col=encoder_model.get_feature_names_out()
    transform=encoder_model.transform(categorical_cols).toarray()
    categorical_encode_data=pd.DataFrame(transform,columns=col)

    # numerical-- Scalling
    model_scaling=load('standard_scaler.pkl')
    scaled_data=model_scaling.transform(numerical_cols)
    numerical_scaled_data=pd.DataFrame(scaled_data,columns=numerical_cols.columns)

    # concat numerical and categorical data
    Features=pd.concat([numerical_scaled_data,categorical_encode_data],axis=1)

    # model testing
    lr=load(model)
    y_pred=pd.DataFrame(lr.predict(Features))
    # test_score=r2_score(y_true, y_pred)*100
    
    return y_pred

In [3]:
y_pred=test_pipeline("X_test.csv",'RF.pkl')

In [4]:
y_pred

                0
0    10411.665655
1    12281.427533
2     9225.750526
3    12240.034381
4    10307.357689
..            ...
263  40831.695085
264   3089.384911
265   8007.377244
266  13548.373262
267   5000.298949

[268 rows x 1 columns]